.t12_blue {  font-family: tahoma; font-size: 12px; font-weight: bold; color: 3E94FF; text-decoration: none}
.v11_green {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: 398F00; text-decoration: underline}
.v11_black {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none}
.v11_white {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none}
.v11_orange {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; text-decoration: none; color: FFBE00}
